<h1>Welcome to Travel Records!</h1>

<h2>A place to record all your travel places.</h2>
<br>

<a href="/signup"><button>Sign Up</button></a>

<a href="login"><button>Log In</button></a>

<a href="/logout"><button>Log Out</button></a>