<!DOCTYPE html>
<html>
    <head>
        <title>Travel Log</title>
    </head>

    <body>
        <%= yield %>

        <p>
            <button onclick='window.location.href="/places/<%=@place.id%>/edit"'>Edit Place</button>
        </p>
    </body>
</html>