<% if flash.has?(:message) %>
    <%= flash[:message] %>
<% end %>

<h2>Add a place</h2>

<form action="/places" method="POST">

  <label for='name' value='name'>Place Name</label>
  <input type="text" name="name">
  <br>

  <input type="submit" value="submit">

</form>