<h1><%= @user.username %>'s places</h1>
<p>
    <h3>
        Travel log:
    </h3>
</p>
<ul>
    <% @user.places.each do |place| %>
            <li><a href='/places/<%= place.id %>'><%= place.name %></a></li>
    <% end %>
</ul>
<p>
  <button onclick='window.location.href="/logout"'>Logout</button>
</p>